/* normalize.css has been included before this file */
@font-face {
  font-family: franklin;
  src: url(franklin-gothic.ttf);
}

@font-face {
  font-family: centuryschool;
  src: url(century-school.otf);
}

@font-face {
  font-family: centuryschool-i;
  src: url(century-school-i.otf);
}

* {
  font-family: franklin;
}

body {
  text-align: center;
  color: #333;
}

i {
  font-family: centuryschool-i;
  font-weight: 100;
}

a {
  font-family: franklin;
  color: #333;
}

b {
  font-family: centuryschool;
  font-size: 85%;
  border-bottom: 1px solid #333;
  margin-left: 5px;
}

button:hover {
  color: #fff;
  background: rgba(0,0,0,0.7);
  transition: all 0.2s ease;
}

#divider-left {
  background: #fafafa;
  background-image: url(pixels.png);
  position: absolute;
  background-size: 80%;
  width: 50%;
  height: 100%;
  z-index: -999;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;
}

#divider-right {
  background: #f5e3e7;
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: -999;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

#search {
  font-size: 85%;
  width: 40%;
  padding: 5px;
  border: 1px solid #333;
}

.divider-content-left {
  margin: 18% 3% 5% 3%;
}

.divider-content-right {
  margin: 18% 3% 5% 3%;
}

.error {
  font-family: centuryschool;
  font-size: 85%;
  color: #8d2330;
  margin: 3%;
}

.main-title {
  font-family: centuryschool;
  font-size: 190%;
  letter-spacing: 0.02em;
  margin: 3%;
}

.main-button {
  font-size: 85%;
  text-transform: uppercase;
  color: #fff;
  background: #333;
  width: inherit;
  padding: 6px 15px 6px 15px;
  border: none;
}

.now-searching {
  font-size: 90%;
  padding-right: 5px;
  margin: 3%;
  display: none;
}

.repo-box {
  cursor: pointer;
  padding: 15px;
}

.repo-box:hover {
  background: #fefefe;
  transition: all 1.5s ease;
}

.even-index {
  background: rgba(0,0,0,0.03);
}

.repo-title {
  cursor: pointer;
  font-family: centuryschool;
}

.repo-owner {
  font-size: 80%;
  text-transform: uppercase;
  padding: 5px;
}

.repo-description {
  font-size: 80%;
  display: inline;
}

.repo-button {
  font-size: 90%;
  background: #fff;
  border: 1px solid #333;
  margin-bottom: 5px;
}

.repo-info {
  width: 70%;
  padding: 5px;
  margin: 0 auto;
}

.recently-searched-list {
  font-size: 90%;
  background: rgba(255,255,255,0.4);
  width: 70%;
  max-height: 260px;
  padding: 10px;
  margin: 0 auto;
  overflow: scroll;
}

.recently-searched-item {
  cursor: pointer;
  font-size: 95%;
  margin: 5px;
  display: block;
}

.recently-searched-item:hover {
  text-decoration: underline;
}

.results-go-back {
  cursor: pointer;
  font-size: 80%;
  text-transform: uppercase;
  position: fixed;
  padding: 15px;
  float: left;
  display: none;
}

.results-go-back:hover {
  background: rgba(255,255,255, 0.8);
  transition: all .2s ease;
}

.recently-searched-list .clear-searched {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  position: absolute;
  float: right;
  display: block;
}

.recently-searched-list .clear-searched:hover {
  color: rgba(0,0,0,0.4);
}

.thinking-cap {
  font-size: 180%;
  font-family: centuryschool;
  margin: 18% 3% 5% 3%;
}